.loginForm {
    border: black solid 3px;
    padding: 10px;
    width: 100%;
    max-width: 380px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-bottom: 90px;
    margin-top: 100px;
    background-color: rgb(242, 239, 239);
}

h1 {
    margin: 20px;
}


input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    width: 300px;
}

.label {
    width: 120px;
}

button {
    margin: 10px;
    padding: 5px;
    width: 100px;
    border: black solid 1px;
    border-radius: 3px;
}

.noAccount {
    color: rgb(13, 0, 255);
    text-align: right;
    font-size: 15px;
    text-decoration: overline;
}

.errorMessage {
    color: red;
    font-size: 0.9em;
    margin: 0 0 10px;
}

.inputError {
    border: 1px solid red;
}