.loginForm {
    border: black solid 3px;
    padding: 10px;
    width: 100%;
    max-width: 380px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-bottom: 90px;
    margin-top: 100px;
    background-color: rgb(209, 218, 209);
}

h1 {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    width: 300px;
    max-width: max-content;
}

button {
    margin: 10px;
    padding: 5px;
    width: 100px;
    border: black solid 1px;
    border-radius: 3px;
}

.noAccount {
    color: red;
    text-align: right;
    font-size: 15px;
    text-decoration: overline;
}